
<div class="container-fluid">
    <div id="home" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2">
            <h1>¡Viajando por el mundo!</h1>
            <p class="destacado">Vivi la aventura de tu vida como vos quieras</p>
        </div>
    </div>
</div>

<div class="row my-3">
    <div id="novedades" class="col-md-5 offset-md-2 py-3">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
             {{#each novedades}}
            <li><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#modal{{id}}"> <img src="/images/MUNDO.webp"
                        width="55px" height="50px"> {{titulo}}</a> </li>
             {{/each}}
        </ul>
    </div>
     {{#each novedades}}
    <div class="modal fade" id="modal{{id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"> {{titulo}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4> {{subtitulo}}</h4>
                    <p> {{cuerpo}}</p>
                </div>
            </div>
        </div>
    </div>
     {{/each}}

    <div class="col-md-5">
        <div class="rounded py-5 testimonios">
            <h2 class="text-center" style="font-family:  'Libre Baskerville', serif;"> Testimonios</h2>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="testimonio">
                            <h5>El mejor recurso del mundo!</h5>
                            <p>Graciela Pelaez, Cordoba</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>Me ayudo mucho a encontrar el viaje ideal!</h5>
                            <p>Fernanda Torres, Rio gallego</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonio">
                            <h5>Muy buena informacion!</h5>
                            <p>Silvia Montero, Rosario</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <div id="Historia" class="row align-items-center py-4">
        <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
            <img src="/images/coliseo.jpg" class="img-fluid">
        </div>
        <div class="col-lg-2 col-md-3 d-none d-sm-block">
            <img src="/images/imagen historia.jpg" class="img-fluid">
        </div>
        <div class="col-12 d-sm-none">
            <img src="/images/renacimiento.webp" class="img-fluid">
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
            <h2 class="destacado2">Historia</h2>
            <p class="destacado3"> Historia de los paises que fuimos visitando</p>
        </div>
    </div>

    <div class="nosotros" id="nosotros" scroll_section> Nosotros
        <div class="row row-cols-1 row-cols-md-3 g-4 staff">
            <div class="col">
                <div class="card h-100" style="max-width: 18rem;">
                    <img src="/images/nosotros 1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Jeniffer Lawrence</h5>
                        <p class="card-text">Soy licenciada en turismo...</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="max-width: 18rem;">
                    <img src="/images/nosotros 2.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Christian Fernandez</h5>
                        <p class="card-text">Me gusta viajar y quise crear esta pagina con mis colegas...</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100" style="max-width: 18rem;">
                    <img src="/images/nosotros 3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Miley Cyrus</h5>
                        <p class="card-text">Soy azafata y ayudo a mis compañeros con fotos/videos...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="conocenos" class="row py-4" scroll_section>
        <div class="col-md-4 offset-md-2">
            <h2>Visitanos</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2100532417803!2d-58.422305585441705!3d-34.59884956474613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca7cd54f107b%3A0x88bd8fe0e0b6e3a6!2sCentro%20de%20e-Learning%20UTN%20BA!5e0!3m2!1ses!2sar!4v1680197823413!5m2!1ses!2sar"
                    width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form class="row g-3" action="/" method="post">
                <div class="col-md-6">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="nombre" class="form-control" id="nombre" name="nombre">
                </div>
                <div class="col-md-6">
                    <label for="apellido" class="form-label">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido">
                </div>
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email@email.com" name="email">
                </div>
                <div class="col-12">
                    <label for="tel" class="form-label">Telefono</label>
                    <input type="text" class="form-control" id="tel" placeholder="+54..." name="tel">
                </div>
                <div class="col-12">
                    <label for="Mensaje" class="form-label">Mensaje</label>
                    <textarea type="text" class="form-control" id="mensaje" rows="3" name="mensaje">
        </textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            <p>{{message}}</p>

            <h1>{{tittle}}</h1>
            {{#if conocido}}
            <p>Hola {{nombre}} <a href="/salir"> Salir</a></p>
            {{/if}}

             {{#unless conocido}}
             <p>No te conozco</p>
             <form action="/ingresar" method="post">
             <input type="text" name="nombre"><button>Ingresar</button>
             </form>
            {{/unless}}
            
        </div>
    </div>